<!doctype html>
<html lang="en">
{% include 'header.html' %}


<main role="main" class="container">

    <div class="starter-template">
      <p class="lead">Always On My Mind</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Yf2KtxEtsEM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  
    <h6>Instance Name: {{ instanceName }}, External IP: {{ instanceExternalIP }}, Egress IP: {{ egressIP }}</h6>
  </main>
</html>