<!doctype html>
<html lang="en">
{% include 'header.html' %}


<main role="main" class="container">

    <div class="starter-template">
        <h1>A Tribute To {{ properName }}</h1>
      <p class="lead">Kentucky Rain</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Qv_CfN3oiOU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  
    <h6>Instance Name: {{ instanceName }}, External IP: {{ instanceExternalIP }}</h6>
  </main>
</html>